<form method="POST">

    <table>

        <tbody>
            <tr>
                <th>Name:</th>
                <th>
                    <input name="name"/>
                </th>
            </tr>
            <tr>
                <th>DOB:</th>
                <th>
                    <input name="dob" type="date"/>
                </th>
            </tr>
            <tr>
                <th>Grade:</th>
                <th>
                    <input name="grade" type="number"/>
                </th>
            </tr>
            <tr>
                <th>Address:</th>
                <th>
                    <textarea name="address"></textarea>
                </th>
            </tr>
            <tr>
                <th>Parent Name:</th>
                <th>
                    <input name="parent_name"/>
                </th>
            </tr>
            <tr>
                <th></th>
                <th>
                   <button type="submit">Save</button>
                </th>
            </tr>
        </tbody>
    </table>

   
</form>